body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.editor-class
{
    height: 275px !important;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
}


.rdw-image-wrapper , .rdw-history-wrapper
{
    display : none !important;
}

.two-line
{
    line-height: 1.5em !important; /* Sets line height to 1.5 times text size */
    height: 3em; /* Sets the div height to 2x line-height (3 times text size) */
    width: 100%; /* Use whatever width you want */
    white-space: normal; /* Wrap lines of text */
    overflow: hidden; /* Hide text that goes beyond the boundaries of the div */
    text-overflow: ellipsis; /* Ellipses (cross-browser) */
    -o-text-overflow: ellipsis; /* Ellipses (cross-browser) */
}

.three-line
{
    line-height: 1.5em; /* Sets line height to 1.5 times text size */
    height: 4.5em; /* Sets the div height to 2x line-height (3 times text size) */
    width: 100%; /* Use whatever width you want */
    white-space: normal; /* Wrap lines of text */
    overflow: hidden; /* Hide text that goes beyond the boundaries of the div */
    text-overflow: ellipsis; /* Ellipses (cross-browser) */
    -o-text-overflow: ellipsis; /* Ellipses (cross-browser) */
}

.rdw-dropdown-carettoopen , .rdw-dropdown-carettoclose{
    right : unset;
    left : 10%;
}

.ui.bulleted.list .list>.item:before, .ui.bulleted.list>.item:before, ul.ui.list li:before
{
    margin-right: -0.5rem;
    margin-left: 0;
}

@media only screen and (max-width: 500px)
{
    .noSegment {
        background: none !important;
        margin: 0 !important;
        padding : 0 !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow : none !important;
    }

    .noMargin , .ui.container {

    }

    body {
        background-color: #FFF !important;
    }

    .ui.container>div>.ui.segment {
        margin: 8px !important;
    }

}

.ui.comments .comment .avatar
{
    float: right !important;
}

.ui.comments .comment>.avatar~.content
{
    margin-right : 3.5em;
    margin-left: 0;
}

.ui.comments .comment .metadata
{
    margin-right : .5em;
    margin-left: 0;
    direction: ltr;
}

#htmlContent
{
    text-overflow: clip;
    overflow: scroll;
    overflow-y: hidden;
}